#partner_modal_win, #contact_modal_win {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

#close_partner_modal, #close_contact_modal {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 120;
	cursor: pointer;
}

.modal__content{
	width: 320px;
	height: 320px;
	background-color: #fff;
	position: absolute;
	top: calc(50% - 160px);
	left: calc(50% - 160px);
	z-index: 110;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__content-form {
	text-align: center;
	width: 100%;
}
.modal__content-form > input[type="text"] {
	width: 90%;
	background-color: none;
	margin-bottom: 10px;
	font-size: 1.5em;
}
